In [1]:
import pandas as pd

In [3]:
movement_file = "./시도별 전출입 인구수.xlsx"

In [8]:
movementDF = pd.read_excel(movement_file, index_col=[0, 1], header=[0, 1])
movementDF

전입지별                1970     1971     1972     1973     1974     1975  \
                이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명)
전국      전국       4046536  4210164  3687938  4860418  5297969  9011440
        서울특별시    1742813  1671705  1349333  1831858  2050392  3396662
        부산광역시     448577   389797   362202   482061   680984   805979
        대구광역시          -        -        -        -        -        -
        인천광역시          -        -        -        -        -        -
...                  ...      ...      ...      ...      ...      ...
제주특별자치도 전라북도         139      202      141      210      219      415
        전라남도         631      965      857      952     1133     2808
        경상북도         374      619      468      576      625     1123
        경상남도         474      479      440      571     1208     1517
        제주특별자치도     9290    12427    12210    16158    19580    34221

전입지별                1976     1977     1978     1979  ...     2008     2009  \
                이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명)  ... 이동자수 (명) 이동자수 (명)
전국      전국       6773250  7397623  8410276  7324380  ...  8808256  8487275
        서울특별시    2756510  2893403  3307439  2589667  ...  2025358  1873188
        부산광역시     724664   785117   895337   809483  ...   514502   519310
        대구광역시          -        -        -        -  ...   409938   398626
        인천광역시          -        -        -        -  ...   565585   478169
...                  ...      ...      ...      ...  ...      ...      ...
제주특별자치도 전라북도         392      408      363      354  ...      668      579
        전라남도        2608     2652     2722     2178  ...     1143     1123
        경상북도        1141     1004     1009      818  ...      761      704
        경상남도         863     1122     1331     1290  ...     1517     1474
        제주특별자치도    23291    31028    30719    30064  ...    59564    55673

전입지별                2010     2011     2012     2013     2014     2015  \
                이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명)
전국      전국       8226594  8127195  7506691  7411784  7629098  7755286
        서울특별시    1733015  1721748  1555281  1520090  1573594  1589431
        부산광역시     519334   508043   461042   478451   485710   507031
        대구광역시     370817   370563   348642   351873   350213   351424
        인천광역시     462051   499567   468666   461613   452297   473223
...                  ...      ...      ...      ...      ...      ...
제주특별자치도 전라북도         672      561      551      516      609      683
        전라남도        1002     1026      966     1001      928     1062
        경상북도         738      756      699      781      728      903
        경상남도        1324     1367     1227     1278     1223     1500
        제주특별자치도    55507    59846    54280    60607    59673    59036

전입지별                2016     2017
                이동자수 (명) 이동자수 (명)
전국      전국       7378430  7154226
        서울특별시    1515602  1472937
        부산광역시     459015   439073
        대구광역시     328228   321182
        인천광역시     441646   409465
...                  ...      ...
제주특별자치도 전라북도         733      768
        전라남도        1127     1102
        경상북도         931      994
        경상남도        1448     1501
        제주특별자치도    66444    63275

[324 rows x 48 columns]

In [11]:
movementDF.index

MultiIndex([(     '전국',      '전국'),
            (     '전국',   '서울특별시'),
            (     '전국',   '부산광역시'),
            (     '전국',   '대구광역시'),
            (     '전국',   '인천광역시'),
            (     '전국',   '광주광역시'),
            (     '전국',   '대전광역시'),
            (     '전국',   '울산광역시'),
            (     '전국', '세종특별자치시'),
            (     '전국',     '경기도'),
            ...
            ('제주특별자치도', '세종특별자치시'),
            ('제주특별자치도',     '경기도'),
            ('제주특별자치도',     '강원도'),
            ('제주특별자치도',    '충청북도'),
            ('제주특별자치도',    '충청남도'),
            ('제주특별자치도',    '전라북도'),
            ('제주특별자치도',    '전라남도'),
            ('제주특별자치도',    '경상북도'),
            ('제주특별자치도',    '경상남도'),
            ('제주특별자치도', '제주특별자치도')],
           length=324)

전출 -> 전입 인구 분석

서울과 제주로 가장 많이 이주한 지역