In [1]:
import pandas as pd

#### (1) 파일 읽어오기

In [2]:
electricity_file = './남북한발전전력량.xlsx'
korea_elec = pd.read_excel(electricity_file, index_col=[0, 1])
korea_elec

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        -     -     -     -     -     -     -     -     -     -
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        -     -     -     -     -     -     -     -     -     -

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
          수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     -     -     -     -     -    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
          수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     -     -     -     -     -     -     -     -     -

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
          수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
          수력       128
          화력       111
          원자력        -

[9 rows x 27 columns]

In [4]:
korea_elec.index

MultiIndex([('남한',  '합계'),
            ('남한',  '수력'),
            ('남한',  '화력'),
            ('남한', '원자력'),
            ('남한', '신재생'),
            ('북한',  '합계'),
            ('북한',  '수력'),
            ('북한',  '화력'),
            ('북한', '원자력')],
           names=['전력량 (억㎾h)', '발전 전력별'])

In [14]:
korea_elec.loc[('남한', '신재생')] = korea_elec.loc[('남한', '신재생')].replace('-', '0')
korea_elec

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        -     -     -     -     -     -     -     -     -     -

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
          수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     0     0     0     0     0    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
          수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     -     -     -     -     -     -     -     -     -

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
          수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
          수력       128
          화력       111
          원자력        -

[9 rows x 27 columns]

#### 북한 신재생 행 추가

#### 마지막 열 이후에 총계 추가

In [3]:
korea_elec.columns

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')