In [1]:
import pandas as pd

#### (1) 파일 읽어오기

In [2]:
electricity_file = './남북한발전전력량.xlsx'
korea_elec = pd.read_excel(electricity_file, index_col=[0, 1])
korea_elec

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        -     -     -     -     -     -     -     -     -     -
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        -     -     -     -     -     -     -     -     -     -

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
          수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     -     -     -     -     -    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
          수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     -     -     -     -     -     -     -     -     -

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
          수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
          수력       128
          화력       111
          원자력        -

[9 rows x 27 columns]

In [3]:
korea_elec.index

MultiIndex([('남한',  '합계'),
            ('남한',  '수력'),
            ('남한',  '화력'),
            ('남한', '원자력'),
            ('남한', '신재생'),
            ('북한',  '합계'),
            ('북한',  '수력'),
            ('북한',  '화력'),
            ('북한', '원자력')],
           names=['전력량 (억㎾h)', '발전 전력별'])

#### 결측치 대체 ( -을 0로 )

In [4]:
korea_elec.loc[('남한', '신재생')] = korea_elec.loc[('남한', '신재생')].replace('-', '0')
korea_elec.loc[('북한', '원자력')] = korea_elec.loc[('북한', '원자력')].replace('-', '0')
korea_elec

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        0     0     0     0     0     0     0     0     0     0

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
          수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     0     0     0     0     0    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
          수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     0     0     0     0     0     0     0     0     0

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
          수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
          수력       128
          화력       111
          원자력        0

[9 rows x 27 columns]

#### 북한 신재생 행 추가

In [5]:
korea_elec.loc[('북한', '신재생'),:] = 0

In [6]:
korea_elec

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        0     0     0     0     0     0     0     0     0     0
          신재생        0     0     0     0     0     0     0     0     0     0

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
          수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     0     0     0     0     0    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
          수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     0     0     0     0     0     0     0     0     0
          신재생     ...     0     0     0     0     0     0     0     0     0

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
          수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
          수력       128
          화력       111
          원자력        0
          신재생        0

[10 rows x 27 columns]

In [7]:
korea_elec.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('남한', '합계') to ('북한', '신재생')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    10 non-null     object
 1   1991    10 non-null     object
 2   1992    10 non-null     object
 3   1993    10 non-null     object
 4   1994    10 non-null     object
 5   1995    10 non-null     object
 6   1996    10 non-null     object
 7   1997    10 non-null     object
 8   1998    10 non-null     object
 9   1999    10 non-null     object
 10  2000    10 non-null     object
 11  2001    10 non-null     object
 12  2002    10 non-null     object
 13  2003    10 non-null     object
 14  2004    10 non-null     object
 15  2005    10 non-null     object
 16  2006    10 non-null     object
 17  2007    10 non-null     object
 18  2008    10 non-null     object
 19  2009    10 non-null     object
 20  2010    10 non-null     object
 21  2011    10 non-null     object
 22  2012    10 non-null     object
 23  2013    10 non-null     object
 24  2014    10 non-null     object
 25  2015    10 non-null     object
 26  2016    10 non-null     object
dtypes: object(27)
memory usage: 2.9+ KB

#### 데이터 타입 변환 (object -> int32)

In [8]:
for col in korea_elec.columns:
    korea_elec[col] = korea_elec[col].astype(int)
korea_elec.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('남한', '합계') to ('북한', '신재생')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    10 non-null     int32
 1   1991    10 non-null     int32
 2   1992    10 non-null     int32
 3   1993    10 non-null     int32
 4   1994    10 non-null     int32
 5   1995    10 non-null     int32
 6   1996    10 non-null     int32
 7   1997    10 non-null     int32
 8   1998    10 non-null     int32
 9   1999    10 non-null     int32
 10  2000    10 non-null     int32
 11  2001    10 non-null     int32
 12  2002    10 non-null     int32
 13  2003    10 non-null     int32
 14  2004    10 non-null     int32
 15  2005    10 non-null     int32
 16  2006    10 non-null     int32
 17  2007    10 non-null     int32
 18  2008    10 non-null     int32
 19  2009    10 non-null     int32
 20  2010    10 non-null     int32
 21  2011    10 non-null     int32
 22  2012    10 non-null     int32
 23  2013    10 non-null     int32
 24  2014    10 non-null     int32
 25  2015    10 non-null     int32
 26  2016    10 non-null     int32
dtypes: int32(27)
memory usage: 1.9+ KB

#### 마지막 열 이후에 총계 추가

In [9]:
korea_elec.columns

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')

In [15]:
sum_col = []
for r in korea_elec.index:
    sum_col.append(korea_elec.loc[r].sum())
sum_col

[88523, 1599, 55136, 31067, 723, 5914, 3408, 2506, 0, 0]

In [16]:
korea_elec['합계'] = sum_col
korea_elec

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        0     0     0     0     0     0     0     0     0     0
          신재생        0     0     0     0     0     0     0     0     0     0

                  ...  2008  2009  2010  2011  2012  2013  2014  2015  2016  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4224  4336  4747  4969  5096  5171  5220  5281  5404
          수력      ...    56    56    65    78    77    84    78    58    66
          화력      ...  2658  2802  3196  3343  3430  3581  3427  3402  3523
          원자력     ...  1510  1478  1486  1547  1503  1388  1564  1648  1620
          신재생     ...     0     0     0     0    86   118   151   173   195
북한        합계      ...   255   235   237   211   215   221   216   190   239
          수력      ...   141   125   134   132   135   139   130   100   128
          화력      ...   114   110   103    79    80    82    86    90   111
          원자력     ...     0     0     0     0     0     0     0     0     0
          신재생     ...     0     0     0     0     0     0     0     0     0

                     합계
전력량 (억㎾h) 발전 전력별
남한        합계      88523
          수력       1599
          화력      55136
          원자력     31067
          신재생       723
북한        합계       5914
          수력       3408
          화력       2506
          원자력         0
          신재생         0

[10 rows x 28 columns]